<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ajustes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="ajustes.css" />
    <script src="hideFormAddUser.js"></script>

</head>

<body>
    <h1>Ajustes</h1>
    <div>
        <%if($numberPlayers<2)%>
            <input class="addUserButton" type="button" value="Añadir jugador" onclick="show()">
        <%else%>
            <input class="addUserButton" type="button" value="Añadir jugador" hidden>
        <%end%>
    </div>

    <div class="add-user" id="addUser" style="display: none;">
        <img src="images/avatar.png" alt="" class="avatar">
        <h2>Añade un jugador</h2>
        <form object action="/ajustes" method="POST">
            <label for="player">Nombre</label>
            <input maxlength="12" type="text" name="nombre" placeholder="Ingresa tu nombre">
            <input type="submit" name="guardar" value="Guardar">
        </form>
    </div>

    <%if($numberPlayers>0)%>    
        <div>
            <% for i in(0..($numberPlayers-1))%>
            
                <%if(i==0)%>
                    <div class="playerBox" style="background: #54ba9b;">
                        <%=$players[i].getName%>
                    </div>
                <%end%>
                <%if(i==1)%>
                    <div class="playerBox" style="background: #ff637d;">
                        <%=$players[i].getName%>
                    </div>
                <%end%>
                <%if(i==2)%>
                    <div class="playerBox" style="background: #5473ba;">
                        <%=$players[i].getName%>
                    </div>
                <%end%>
                <%if(i==3)%>
                    <div class="playerBox" style="background: #ba54a6;">
                        <%=$players[i].getName%>
                    </div>
                <%end%>
            <% end %>
        </div>
    <%end%>
    <%if($numberPlayers>1)%>
        <div class="divPlay">
            <a class="playButton" href="/jugarConAmigos">Jugar</a>
        </div>
    <%end%>
</body>

</html>