<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="main.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="box.css" />

</head>
<body>
    <h1>Jugar con amigos</h1>
    <div>
        
        <h3><%=$players[0].getName%>--(X)=<%=$players[0].getPoints%>--------------<%=$players[1].getName%>--(O)=<%=$players[1].getPoints%></h3>
        <br>
        <h2>Turno de :<%=$turn%></h2>
        <table>
            <tbody>
                <tr>
                    <td class="dots">*</td>
        
                    <td>
                        <%if ($value1==1)%>
                            <form method="post" action="/check1">
                                <input class="horizontalLines" type="submit" value="">
                            </form>                
                        <%else%>
                            <form method="post" action="/check1">
                                <input class="horizontal" type="submit" value="" disabled>
                            </form> 
                        <%end%>
                    </td>
        
                    <td class="dots">*</td>
        
                    <td>
                        <%if ($value2==2)%>
                            <form method="post" action="/check2">
                                <input class="horizontalLines" type="submit" value="">
                            </form>                
                        <%else%>
                            <form method="post" action="/check2">
                                <input class="horizontal" type="submit" value="" disabled>
                            </form> 
                        <%end%>
                    </td>
        
                    <td class="dots">*</td>

                    <td>
                        <%if ($value3==3)%>
                            <form method="post" action="/check3">
                                <input class="horizontalLines" type="submit" value="">
                            </form>                
                        <%else%>
                            <form method="post" action="/check3">
                                <input class="horizontal" type="submit" value="" disabled>
                            </form> 
                        <%end%>
                    </td>
        
                    <td class="dots">*</td>
                </tr>
        
        
        
        
        
                <tr>
                    
                    <td>
                        <%if($value4==4)%>
                            <form method="post" action="/check4">
                                <input class="verticalLines" type="submit" value="">
                            </form>
                        <%else%>
                            <form method="post" action="/check4">
                                <input class="vertical" type="submit" value="" disabled>
                            </form>
                        <%end%>
                    </td>
        
                    <td>
                        <%if($content1!="")%>
                            <input  class="contentBox" type="submit" value=<%=$content1%>>
                        <%end%>
                    </td>
                    
                    <td>
                        <%if($value5==5)%>
                            <form method="post" action="/check5">
                                <input class="verticalLines" type="submit" value="">
                            </form>
                        <%else%>
                            <form method="post" action="/check5">
                                <input class="vertical" type="submit" value="" disabled>
                            </form>
                        <%end%>
                    </td>
        
        
                    <td>
                        <%if($content2!="")%>
                            <input  class="contentBox" type="submit" value=<%=$content2%>>
                        <%end%>
                    </td>
                    
                    <td>
                        <%if($value6==6)%>
                            <form method="post" action="/check6">
                                <input class="verticalLines" type="submit" value="">
                            </form>
                        <%else%>
                            <form method="post" action="/check6">
                                <input class="vertical" type="submit" value="" disabled>
                            </form>
                        <%end%>
                    </td>

                    <td>
                        <%if($content3!="")%>
                            <input  class="contentBox" type="submit" value=<%=$content3%>>
                        <%end%>
                    </td>
                    
                    <td>
                        <%if($value7==7)%>
                            <form method="post" action="/check7">
                                <input class="verticalLines" type="submit" value="">
                            </form>
                        <%else%>
                            <form method="post" action="/check7">
                                <input class="vertical" type="submit" value="" disabled>
                            </form>
                        <%end%>
                    </td>
                   
                </tr>
        
        
        
        
                <tr>
                    <td class="dots">*</td>
                    <td>
                        <%if($value8==8)%>
                            <form method="post" action="/check8">
                                <input class="horizontalLines" type="submit" value="">
                            </form>
                        <%else%>
                            <form method="post" action="/check8">
                                <input class="horizontal" type="submit" value="" disabled>
                            </form>
                        <%end%>
                    </td>
                    <td class="dots">*</td>
        
                    <td>
                        <%if($value9==9)%>
                            <form method="post" action="/check9">
                                <input class="horizontalLines" type="submit" value="">
                            </form>
                        <%else%>
                            <form method="post" action="/check9">
                                <input class="horizontal" type="submit" value="" disabled>
                            </form>
                        <%end%>
                    </td>
                    <td class="dots">*</td>

                    <td>
                        <%if($value10==10)%>
                            <form method="post" action="/check10">
                                <input class="horizontalLines" type="submit" value="">
                            </form>
                        <%else%>
                            <form method="post" action="/check10">
                                <input class="horizontal" type="submit" value="" disabled>
                            </form>
                        <%end%>
                    </td>
                    <td class="dots">*</td>
                </tr>
        
        
        
        
        
            <tr>
                <td>
                    <%if($value11==11)%>
                        <form method="post" action="/check11">
                            <input class="verticalLines" type="submit" value="">
                        </form>
                    <%else%>
                        <form method="post" action="/check11">
                            <input class="vertical" type="submit" value="" disabled>
                        </form>
                    <%end%>
                </td>
        
                <td>
                    <%if($content4!="")%>
                        <input class="contentBox" type="submit" value=<%=$content4%>>
                    <%end%>
                </td>
        
                <td>
                    <%if($value12==12)%>
                        <form method="post" action="/check12">
                            <input class="verticalLines" type="submit" value="">
                        </form>
                    <%else%>
                        <form method="post" action="/check12">
                            <input class="vertical" type="submit" value="" disabled>
                        </form>
                    <%end%>
                </td>
        
                <td>
                    <%if($content5!="")%>
                        <input class="contentBox" type="submit" value=<%=$content5%>>
                    <%end%>
                </td>
        
                <td>
                    <%if($value13==13)%>
                        <form method="post" action="/check13">
                            <input class="verticalLines" type="submit" value="">
                        </form>
                    <%else%>
                        <form method="post" action="/check13">
                            <input class="vertical" type="submit" value="" disabled>
                        </form>
                    <%end%>
                </td>

                <td>
                    <%if($content6!="")%>
                        <input class="contentBox" type="submit" value=<%=$content6%>>
                    <%end%>
                </td>
        
                <td>
                    <%if($value14==14)%>
                        <form method="post" action="/check14">
                            <input class="verticalLines" type="submit" value="">
                        </form>
                    <%else%>
                        <form method="post" action="/check14">
                            <input class="vertical" type="submit" value="" disabled>
                        </form>
                    <%end%>
                </td>
            </tr>
        
        
        
            <tr>
                <td class="dots">*</td>
                <td>
                    <%if($value15==15)%>
                        <form method="post" action="/check15">
                            <input class="horizontalLines" type="submit" value="">
                        </form>
                    <%else%>
                        <form method="post" action="/check15">
                            <input class="horizontal" type="submit" value="" disabled>
                        </form>
                    <%end%>
                </td>
                <td class="dots">*</td>
        
                <td>
                    <%if($value16==16)%>
                        <form method="post" action="/check16">
                            <input class="horizontalLines" type="submit" value="">
                        </form>
                    <%else%>
                        <form method="post" action="/check16">
                            <input class="horizontal" type="submit" value="" disabled>
                        </form>
                    <%end%>
                </td>
                <td class="dots">*</td>

                <td>
                    <%if($value17==17)%>
                        <form method="post" action="/check17">
                            <input class="horizontalLines" type="submit" value="">
                        </form>
                    <%else%>
                        <form method="post" action="/check17">
                            <input class="horizontal" type="submit" value="" disabled>
                        </form>
                    <%end%>
                </td>
                <td class="dots">*</td>
            </tr>

            <tr>
                <td>
                    <%if($value18==18)%>
                        <form method="post" action="/check18">
                            <input class="verticalLines" type="submit" value="">
                        </form>
                    <%else%>
                        <form method="post" action="/check18">
                            <input class="vertical" type="submit" value="" disabled>
                        </form>
                    <%end%>
                </td>

                <td>
                    <%if($content7!="")%>
                        <input class="contentBox" type="submit" value=<%=$content7%>>
                    <%end%>
                </td>

                <td>
                    <%if($value19==19)%>
                        <form method="post" action="/check19">
                            <input class="verticalLines" type="submit" value="">
                        </form>
                    <%else%>
                        <form method="post" action="/check19">
                            <input class="vertical" type="submit" value="" disabled>
                        </form>
                    <%end%>
                </td>

                <td>
                    <%if($content8!="")%>
                        <input class="contentBox" type="submit" value=<%=$content8%>>
                    <%end%>
                </td>

                <td>
                    <%if($value20==20)%>
                        <form method="post" action="/check20">
                            <input class="verticalLines" type="submit" value="">
                        </form>
                    <%else%>
                        <form method="post" action="/check20">
                            <input class="vertical" type="submit" value="" disabled>
                        </form>
                    <%end%>
                </td>

                <td>
                    <%if($content9!="")%>
                        <input class="contentBox" type="submit" value=<%=$content9%>>
                    <%end%>
                </td>

                <td>
                    <%if($value21==21)%>
                        <form method="post" action="/check21">
                            <input class="verticalLines" type="submit" value="">
                        </form>
                    <%else%>
                        <form method="post" action="/check21">
                            <input class="vertical" type="submit" value="" disabled>
                        </form>
                    <%end%>
                </td>
            </tr>

            <tr>
                <td class="dots">*</td>
            
                <td>
                    <%if ($value22==22)%>
                        <form method="post" action="/check22">
                            <input class="horizontalLines" type="submit" value="">
                        </form>                
                    <%else%>
                        <form method="post" action="/check22">
                            <input class="horizontal" type="submit" value="" disabled>
                        </form> 
                    <%end%>
                </td>

                <td class="dots">*</td>

                <td>
                    <%if ($value23==23)%>
                        <form method="post" action="/check23">
                            <input class="horizontalLines" type="submit" value="">
                        </form>                
                    <%else%>
                        <form method="post" action="/check23">
                            <input class="horizontal" type="submit" value="" disabled>
                        </form> 
                    <%end%>
                </td>

                <td class="dots">*</td>

                <td>
                    <%if ($value24==24)%>
                        <form method="post" action="/check24">
                            <input class="horizontalLines" type="submit" value="">
                        </form>                
                    <%else%>
                        <form method="post" action="/check24">
                            <input class="horizontal" type="submit" value="" disabled>
                        </form> 
                    <%end%>
                </td>

                <td class="dots">*</td>
            </tr>
        
            </tbody>
        </table>
    </div style="text-align: center;">
</body>
</html>


