<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Menú principal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="principal.css" />

    <script src="main.js"></script>
</head>

<body>
    <h1>Menu principal</h1>

    <div>
        <a class="jugarConAmigos" href="ajustes">Jugar con amigos</a>
    </div>
</body>

</html>