*{
    padding: 0;
    margin: 0;
}

body{
    background: #f4f1bb;
    font-family: cursive;
}

.playerBox{
    float: left;
    width: 110px;
    height: 50px;
    padding-top: 25px;
    margin-left: 50px; 
    text-align: center; 
}

.playerBox:hover{
    
    border: 1px solid rgb(121, 116, 116);
}

h1{
    color:#ff637d;
    font-size: 40px;
    text-align: center;
    margin: 0;
    font-family: cursive;
}

.addUserButton{
    width: 15%;
    margin: 50px 50px;
    border: none;
    outline: none;
    height: 40px;
    background: #1c8adb;
    color: #fff;
    font-size: 18px;
    border-radius: 15px;
    font-family: cursive;
}
.addUserButton:hover{
    cursor: pointer;
    background: #ff637d;
    color: #fff;
}



.divPlay{
    
    text-align: center;
}
.playButton{
    position: relative;
    clear: both;
    padding: 10px;
    width: 15%;
    margin: 350px;
    background: #54ba9b;
    display: inline-block;
    text-decoration: none;
    border-radius: 15px;
    font-size: 18px;
    color: #fff;
}

.playButton:hover{
    cursor: pointer;
    background: #ff637d;
}


.add-user{

    width: 320px;
    height: 420px;
    background: rgba(0, 0, 0, .5);
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    position: absolute;
    padding: 70px 30px;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
::placeholder{
    color:#fff;
    opacity: .5;
}

h1{
    color:#ff637d;
    font-size: 40px;
    text-align: center;
    margin: 0;
    font-family: cursive;
}

.add-user label{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.add-user input{
    width: 100%;
    margin-bottom: 20px;
    font-family: cursive;
}


.add-user input[type="text"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.add-user input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #1c8adb;
    color: #fff;
    font-size: 18px;
    border-radius: 15px;
    font-family: cursive;
}
.add-user input[type="submit"]:hover{
    cursor: pointer;
    background: #ff637d;
    color: #fff;
}

