*{
    padding: 0;
    margin: 0;
}
body{
    background: #f4f1bb;
    font-family: cursive;
}

.dots{
    text-align:center; 
    padding: 0; 
}
h1{
    color:#ff637d;
    font-size: 40px;
    text-align: center;
    margin: 0;
}

table{
    /* border: 2px solid #000; */
    margin: 100px auto;
    background: #fff;
}
div{
    text-align: center;
}

.verticalLines{
    border: transparent;
    width: 14px;
    height: 40px;
    background: transparent; 
}

.verticalLines:hover{
    background: url("/images/vertical.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;

}
.horizontalLines{
    background: transparent; 
    border: transparent;
    width: 40px;
    height: 14px;
    /* border: 2px solid #000; */
}
.horizontal{
    border: transparent;
    width: 40px;
    height: 14px;
    background: url("/images/linehori.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
}

.horizontalLines:hover{
    background: url("/images/horizontal.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.vertical{
    border: transparent;
    width: 14px;
    height: 40px;
    background: url("/images/linevert.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}

.contentBox{
    width: 40px;
    height: 40px;
}

